<h1>Listing dependencies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>License</th>
    <th>License description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dependencies.each do |dependency| %>
  <tr>
    <td><%= dependency.name %></td>
    <td><%= dependency.license %></td>
    <td><%= dependency.license_description %></td>
    <td><%= link_to 'Show', dependency %></td>
    <td><%= link_to 'Edit', edit_dependency_path(dependency) %></td>
    <td><%= link_to 'Destroy', dependency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dependency', new_dependency_path %>
