<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Gem home:</b>
  <%= @project.gem_home %>
</p>

<p>
  <b>Root path:</b>
  <%= @project.root_path %>
</p>

<%= render partial: "dependencies/index" %>
<%= render partial: "javascript_dependencies/index" %>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
